<% if current_user %>
  <h3>You are signed in</h3>
  <h4>Email: <%= current_user.email %></h4>
  <h4>Company name: <%= current_user.company.name %></h4>
  <h4><%= button_to "Sign out", sign_out_path, method: :delete %></h4>
<% else %>
  <h3>You are signed out. Try <%= link_to "signing in", sign_in_path %> or <%= link_to "signing up", new_user_path %> first.</h3>
<% end %>
